.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}



/* shared data  */

.title-color{
    color: rgba(58, 58, 58, 1);
}

.btn-primary{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
}


/* header related styles */

.logo-name{
    font-size: 1.5rem;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    gap: 34px;
}

.nav-bar ul li{
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    font-size: 1rem;
}

.nav-icons{
    color: black;
}

.nav-bar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner related styles */

.banner-content{
    max-width: 582px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.banner-title{
    font-size: 3.25rem;
    margin-bottom: 0px;
}

.banner-des{
    font-size: 1rem;
}




/* media query for small devices */

@media screen and (max-width: 576px){
    .nav-bar{
        flex-direction: column;
    }
    .nav-bar ul{
        flex-direction: column;
        gap: 15px;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top;
        margin-top: 50px;
    }
    .banner-content{
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-title{
        margin-top: 0px;
    }
}